.challengeSect{
    width: 800px;
    height: 300px;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2rem
}
.challengeSect .box{
    /* background: white; */
    font-family: 'Luckiest Guy', cursive;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    border-radius: 50%;
    cursor: pointer;
}